<div class="container">

    <div class="row justify-content-md-center">
        <div class="col">

            <table id="results" class="sortable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pattern in patterns">
                        <td>{{pattern.date}}</td>
                        <td>{{pattern.name}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <br />

    <div class="row justify-content-md-center">
        <div class="col">

            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li ng-repeat="pattern in patterns" data-target="#carouselExampleCaptions" data-slide-to="{{$index}}"></li>
                </ol>
                <div class="carousel-inner">
                    <div ng-repeat="pattern in patterns" class="carousel-item" ng-class='{active:$first}'>
                        <img src="/crossstitch/{{pattern.image}}" class="d-block w-100" alt="{{pattern.name}}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{pattern.name}}</h5>
                            <p>{{pattern.description}}</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>

    <br />

    <div class="row">
        <div 
            ng-repeat="pattern in patterns | filter:searchText"
            class="col-md-4"
            style="margin-bottom: 50px;"
        >
            <div class="card" style="width: 18rem;">
                <img src="/crossstitch/{{pattern.image}}" class="d-block w-100" alt="{{item.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{pattern.name}}</h5>
                    <p class="card-text">{{pattern.description}}</p>
                    <p class="card-text">{{pattern.date | date:'d MMM yyyy'}}</p>
                    <a ng-if="pattern.link.length > 0" ng-href="{{pattern.link}}" target="_blank" class="btn btn-primary">Link</a>
                </div>
            </div>
        </div>
    </div>
    
</div>